{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="author_image">
    <div class="main" data-img-url="{{ profile.photo.url }}" alt="Личное фото" title="Личное фото"></div>
    <div class="particle_wrapper">
        <div id="particles-js"></div>
    </div>
</div>

<div class="main_content">

    <!-- ABOUT -->
    <div class="cavani_tm_section">
        <div class="section_inner">
            <div class="cavani_tm_about">
                <div class="biography">
                    <div class="cavani_tm_title">
                        <span>Обо мне</span>
                    </div>
                    <div class="wrapper">
                        <div class="left">
                            {% for elem in text %}
                                <p>{{ elem }}</p>
                            {% endfor %}
                        </div>
                        <div class="right">
                            <ul>
                                <li><span class="first">Опыт работы:</span><span class="second">{{ about.work_time }}</span>
                                    <p>{{ about.work_place }}</p></li>
                                <li><span class="first">Номер удостоверения:</span><span class="second"><a href="{{ about.id_url }}">{{ about.id_num }}</a></span></li>
                                <li><span class="first">Почта:</span><span class="second"><a href="Mailto:{{ profile.email }}">{{ profile.email }}</a></span></li>
                                <li><span class="first">Телефон:</span><span class="second"><a href="Tel:{{ profile.phone }}">{{ profile.phone }}</a></span></li>
                            </ul>
                            <iframe src="https://yandex.ru/sprav/widget/rating-badge/155176053608?type=rating" width="150" height="50" frameborder="0"></iframe>
                        </div>
                    </div>
                    <p class="video_text">СМИ о нас</p>
                    <div class="video_wrapper">
                        {% for elem in videos %}
                            <video class="item" src="{{ elem.video.url }}" controls></video>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}