{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
<section class="main">
    <div class="main-text">
        <h1>{{ profile.surname }}</h1>
        <h2>{{ profile.name }}</h2>
        <h3><span></span>|</h3>
    </div>
</section>

<div class="icons">
    <a href="Tel:{{ profile.phone }}"><i class='bx bx-phone'></i></a>
    <a href="Mailto:{{ profile.email }}"><i class='bx bx-envelope'></i></a>
    <a href="{{ profile.href_whatsapp }}"><i class='bx bxl-whatsapp'></i></a>
    <a href="{{ profile.href_vk }}"><i class='bx bxl-vk'></i></a>
</div>

{% endblock %}