{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="author_image">
    <div class="main" data-img-url="{{ profile.photo.url }}" alt="Личное фото" title="Личное фото"></div>
    <div class="particle_wrapper">
        <div id="particles-js"></div>
    </div>
</div>

<div class="main_content">
    
    <!-- PUBLICATIONS -->
    <div class="cavani_tm_section">
        <div class="section_inner">
            <div class="cavani_tm_news">
                <div class="cavani_tm_title">
                    <span>Публикации</span>
                </div>
                <div class="news_list">
                    <ul class="relative">
                        {% for post in posts %}
                            <li data-img="{{ post.image.url }}" alt="Image" title="Image">
                                <div class="list_inner">
                                    <span class="number"><img src="{{ post.gif.url }}" alt="GIF" title="GIF"></span>
                                    <div class="details">
                                        <div class="metabox">
                                            <div class="post_title">
                                                <h3><a>{{ post.title }}</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news_hidden_details">
                                        <div class="news_popup_informations">
                                            <div class="text">
                                                {% for text in post.text_list %}
                                                    <p>{{ text }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}